In [1]:
import pandas as pd

## Read Data

In [2]:
df = pd.read_csv('data.csv')

In [3]:
df.head()

        fever  bodyPain  age  runnyNose  diffBreath  infectionProb
0   99.534574         0   96          1           0              1
1   98.583639         0   28          0           0              0
2  101.046003         0   14          1           1              1
3   98.261372         0   28          0           0              0
4   99.400195         1    1          0           0              1

In [4]:
df.tail()

           fever  bodyPain  age  runnyNose  diffBreath  infectionProb
2196   98.241473         1   52          0           0              1
2197   98.558253         0   28          0           0              0
2198  100.401980         1   18          0           0              1
2199  100.978262         0   28          0           0              0
2200  101.303210         1   75          1           1              0

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2201 entries, 0 to 2200
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   fever          2201 non-null   float64
 1   bodyPain       2201 non-null   int64
 2   age            2201 non-null   int64
 3   runnyNose      2201 non-null   int64
 4   diffBreath     2201 non-null   int64
 5   infectionProb  2201 non-null   int64
dtypes: float64(1), int64(5)
memory usage: 103.2 KB

In [6]:
df['fever'].value_counts()

98.658762     1
99.912012     1
101.952978    1
99.913192     1
99.930303     1
             ..
101.867000    1
101.943759    1
101.573767    1
100.122989    1
100.058968    1
Name: fever, Length: 2201, dtype: int64

In [7]:
df['diffBreath'].value_counts()

 0    1431
-1     406
 1     364
Name: diffBreath, dtype: int64

In [8]:
df['infectionProb'].value_counts()

0    1614
1     587
Name: infectionProb, dtype: int64

In [9]:
df.describe()

,fever,bodyPain,age,runnyNose,diffBreath,infectionProb
count,2201.000000,2201.000000,2201.000000,2201.000000,2201.000000,2201.000000
mean,99.967169,0.257610,40.164016,0.266243,-0.019082,0.266697
std,1.155847,0.437418,23.804276,0.442093,0.591300,0.442333
min,98.001287,0.000000,1.000000,0.000000,-1.000000,0.000000
25%,98.955939,0.000000,28.000000,0.000000,0.000000,0.000000
50%,99.943209,0.000000,28.000000,0.000000,0.000000,0.000000
75%,100.951934,1.000000,55.000000,1.000000,0.000000,1.000000
max,101.999311,1.000000,100.000000,1.000000,1.000000,1.000000

# splitting dataset into train and test dataset

In [10]:
import numpy as np

In [40]:
def data_split(data,ratio):
    np.random.seed(42)
    shuffled = np.random.permutation(len(data))
    test_set_size = int(len(data)*ratio)
    test_indices = shuffled[:test_set_size]
    train_indices = shuffled[test_set_size:]
    return data.iloc[train_indices],data.iloc[test_indices]

In [41]:
train,test=data_split(df,0.4)

In [42]:
train

           fever  bodyPain  age  runnyNose  diffBreath  infectionProb
551   101.804963         0   28          0           0              0
520    99.717170         0    4          1           1              1
1263   99.308315         0   28          0           0              0
208    98.959382         0   28          0           0              0
1644  100.000663         0   28          0           0              0
...          ...       ...  ...        ...         ...            ...
1638  100.894645         0   28          0           0              0
1095   98.048778         0   78          1           0              1
1130   99.618995         0   28          0           0              0
1294  101.162278         0   46          1          -1              1
860    99.437902         0   28          0           0              0

[1321 rows x 6 columns]

In [43]:
test

           fever  bodyPain  age  runnyNose  diffBreath  infectionProb
780   100.491489         1   32          0          -1              1
581   101.191936         0   28          0           0              0
1750   99.747491         1   94          0           0              0
1842  101.563443         1   56          1           1              1
952    98.114681         0   28          0           0              0
...          ...       ...  ...        ...         ...            ...
757   100.052966         0   28          0           0              0
2119   99.515026         1   56          1           0              0
358   101.850002         0   28          0           0              0
1314  101.319643         0   28          0           0              0
236    99.850581         0   28          0           0              0

[880 rows x 6 columns]

In [44]:
X_train = train[['fever','bodyPain','age','runnyNose','diffBreath']].to_numpy()
X_test = test[['fever','bodyPain','age','runnyNose','diffBreath']].to_numpy()

In [45]:
Y_train = train[['infectionProb']].to_numpy().reshape(1321,)
Y_test = test[['infectionProb']].to_numpy().reshape(880,)

In [46]:
Y_train

array([0, 1, 0, ..., 0, 1, 0], dtype=int64)

In [47]:
from sklearn.linear_model import LogisticRegression

In [48]:
clf = LogisticRegression()
clf.fit(X_train,Y_train)

LogisticRegression()

In [49]:
inputFeatures = [100,1,22,1,1]
infProb = clf.predict_proba([inputFeatures])[0][1]

In [50]:
infProb

0.5669043259974744